Repository apache/incubator-opendal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Xuanwo, @PsiACE, @Ji-Xinyou, @silver-ymz, @tisonkun, @oowl, @suyanhanx, @messense

feat(services/s3): add append support
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
  core/src/services/s3/docs.md
  core/src/services/s3/writer.rs
Owners: @Xuanwo

small mistake
  core/src/services/s3/core.rs
Owners: @Xuanwo

better `enable_write_with_append`
  core/src/services/s3/backend.rs
  core/src/services/s3/config.rs
  core/src/services/s3/core.rs
Owners: @Xuanwo

feat(integrations/object_store): add AmazonS3Builder
  core/src/types/scheme.rs
  integrations/object_store/Cargo.toml
  integrations/object_store/examples/basic.rs
  integrations/object_store/src/lib.rs
  integrations/object_store/src/s3_builder.rs
Owners: @Xuanwo, @PsiACE

implement Default trait for AmanzonS3Builder
  integrations/object_store/examples/basic.rs
  integrations/object_store/src/s3_builder.rs
Owners: @Xuanwo, @PsiACE

fix cargo clippy
  core/src/layers/dtrace.rs
  core/tests/behavior/async_write.rs
  integrations/fuse3/src/file_system.rs
  integrations/parquet/src/async_writer.rs
Owners: @Xuanwo, @PsiACE

fix bindings: cpp, dotnet, haskell, ocaml, ruby
  bindings/cpp/src/lib.rs
  bindings/dotnet/src/lib.rs
  bindings/haskell/src/lib.rs
  bindings/ocaml/src/operator/mod.rs
  bindings/ruby/src/operator.rs
  core/src/layers/dtrace.rs
Owners: @Xuanwo, @PsiACE, @silver-ymz

fix bindings: java, nodejs, python
  bindings/java/src/async_operator.rs
  bindings/java/src/operator.rs
  bindings/nodejs/src/lib.rs
  bindings/python/src/operator.rs
Owners: @tisonkun, @suyanhanx, @messense

fix binding cpp
  bindings/cpp/src/async.rs
  core/tests/behavior/async_write.rs
Owners: @Xuanwo, @PsiACE

fix test_retry_write_fail_on_close
  core/src/layers/complete.rs
  core/src/layers/retry.rs
Owners: @Xuanwo

.github/CODEOWNERS:

* @Xuanwo @PsiACE

/core @Xuanwo
/bindings/c/ @Ji-Xinyou
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense
/bindings/ruby/ @PsiACE
